body{
    width: 100vw;
    height: 100vh;

    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--blue);
}

.board{
    width: 100%;
    height: 100%;

    position: relative;

    border: solid 3px black;
    border-radius: .5rem;

    background-color: rgba(224, 224, 224, 0.461);
}

.target {
    width: 4rem;
    height: 4rem;

    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 50%;
    border: solid .3rem;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.2);

    background-color: rgba(255, 255, 255, 0.18);

    color: white;
    text-align: center;
    line-height: 3.4rem;
    font-size: 2rem;
    font-family: 'Keysfont';
    font-weight: 600;
    cursor: default;
    user-select: none;
}

.target-hit {
    scale: 0;
    transition: .2s;
}

.target-spawn {
    animation: targetSpawn .2s;
}

@keyframes targetSpawn {
    from {
        scale: 0;
    } to {
        scale: 1;
    }
}