.menu-close-zone{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    padding: 1rem;
    
    width: 100vw;
    height: 100vh;

    display: none;
    align-items: center;
    justify-content: center;
    
    color: white;
    font-size: 3rem;
    background: radial-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 80%);

    user-select: none;
}


.menu-button{
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 4;

    padding: 1rem;

    display: flex;
    gap: .6rem;

    border: solid 2px black;
    border-radius: .5rem 0 .5rem 0;

    background: black;
    cursor: pointer;
}

.menu-button-icon{
    height: 1.5rem;
    width: 5px;

    display: block;

    background-color: var(--white);
}

.menu-button:hover .menu-button-icon{
    background-color: var(--yellow);
}

.menu{
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 4;

    padding: 0 1rem;
    display: none;

    border-radius: .5rem 0 .5rem 0;

    background-color: black;
}

.menu-onglet{
    padding: 1.3rem 1rem;

    color: var(--white);
    text-decoration: none;

    cursor: pointer;
    user-select: none;
}

.menu-onglet-text{
    border-bottom: solid 2px rgba(0, 0, 0, 0);
    transition: .3s;
}

.menu-onglet:hover .menu-onglet-text{
    color: var(--yellow);
    transition: .3s;
}


.hide{
    display: none;
}

.show-flex{
    display: flex;
}