.settings-zone {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;

    width: 60rem;
    height: 40rem;

    padding: 3rem;

    display: none;
    flex-direction: column;
    gap: 3rem;

    border: solid .2rem black;
    border-radius: .5rem;
    background-color: var(--blue);
}

.settings-keys, .settings-cam {
    width: 6rem;
    height: 7rem;
    
    border: .2rem solid;
    color: white;
    font-family: 'Keysfont';
    font-size: 3rem;
    text-align: center;
    line-height: 6.8rem;
    user-select: none;
}

.settings-keys:hover, .settings-cam:hover {
    box-shadow: inset 0 0 .5rem .5rem rgba(255, 255, 255, 0.2);
}

.settings-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.settings-sub-zone {
    position: relative;
    display: flex;
    gap: 1rem;
}

.settings-sub-zone-title{
    position: absolute;
    top: -1.8rem;
    left: 0;
    color: white;
    font-size: 1.2rem;
}

.show-flex {
    display: flex;
}